<div class="super_container">
  <!-- Home -->
  <!-- Search -->
  
  <!-- Destinations -->
  <div class="destinations" id="destinations">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_subtitle"><%= t ".simply" %></div>
          <div class="section_title">
            <h2><%= t ".popular" %></h2>
          </div>
        </div>
      </div>
      <div class="row destinations_row">
        <div class="col">
          <div class="destinations_container item_grid">
            <!-- Destination -->
            <%= render partial: "tour", collection: @tours, as: :tour %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="destinations" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_subtitle"><%= t ".simply" %></div>
          <div class="section_title">
            <h2><%= t ".new" %></h2>
          </div>
        </div>
      </div>
      <div class="row destinations_row">
        <div class="col">
          <div class="destinations_container item_grid">
            <!-- Destination -->
            <%= render partial: "tour", collection: @tours, as: :tour %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
